<h2 class="new-review-title"> <%= Spree.t(:leave_us_a_review_for) %> <%= @product.name %></h2>

<div class="row-fluid">
<%= render 'form', { :review => @review, :product => @product } %>
</div>

<div class="row-fluid">
<%= render :partial => "spree/reviews/fine_print" %>
</div>
  

  


<div class="row-fluid" data-hook="related_products">
  <%= render partial: '/spree/products/related' %>
</div>

