<tr class="<%= cycle('', 'alt') %> line-item">
  <td class="cart-item-image" data-hook="cart_item_image">
    <% if variant.images.length == 0 %>
      <%= link_to small_image(variant.product), variant.product %>
    <% else %>
      <%= link_to image_tag(variant.images.first.attachment.url(:mini)), variant.product %>
    <% end %>
  </td>
  <td class="cart-item-description" data-hook="cart_item_description">
    <h2 style="margin-bottom:5px;"><%= link_to variant.product.name, product_path(variant.product) %></h2>
    <h3><strong><%= variant.options_text %></strong><br/>
    <% if @order.insufficient_stock_lines.include? line_item %>
      <span class="out-of-stock">
        <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
      </span>
    <% end %>
    <%= line_item_description(variant) %></h3>
  </td>
  <td class="cart-item-price" data-hook="cart_item_price">
    <span class="price"><%= line_item.single_money.to_html %></span>
  </td>
  <td class="cart-item-quantity" data-hook="cart_item_quantity">
    <%= item_form.number_field :quantity, :min => 0, :class => "line_item_quantity", :size => 5 %>
  </td>
  <td class="cart-item-total" data-hook="cart_item_total">
    <strong class="price"><%= line_item.display_amount.to_html unless line_item.quantity.nil? %></strong>
  </td>
  <td class="cart-item-delete" data-hook="cart_item_delete">
    <a class="delete del" id="delete_#{dom_id(line_item)}" href="#">Remove</a>

  </td>
</tr>
