<fieldset id="order_summary" data-hook>
<br/>
  <h1><%= accurate_title %></h1>

  <div id="order" data-hook>
    <% if params.has_key? :checkout_complete %>
      <h1><%= Spree.t(:thank_you_for_your_order) %></h1>
    <% end %>
    <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>

    <br class="clear" />

    <h3 class="share-order-header"><%= Spree.t 'social.share_order' %></h3>
    <p data-hook="share_order" class="share-order">
      <a href="#" 
        onclick="
          window.open(
            'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('<%= root_url %>'), 
            'facebook-share-dialog', 
            'width=626,height=436'); 
          return false;">
        <i class="icon-facebook-sign"></i>
      </a>
      <a href="#" 
        onclick="
          window.open(
            'https://twitter.com/share?url='+encodeURIComponent('<%= root_url %>')+
            '&text='+encodeURIComponent('<%= Spree.t 'social.tweet_text' %>'), 
            'twitter-share-dialog', 
            'width=626,height=436'); 
          return false;">
        <i class="icon-twitter-sign"></i>
      </a>
     
    </p>
    <p data-hook="links">
      <%= link_to Spree.t(:back_to_store), spree.root_path, :class => "button" %>
      <% unless params.has_key? :checkout_complete %>
        <% if try_spree_current_user && respond_to?(:spree_account_path) %>
          <%= link_to Spree.t(:my_account), spree_account_path, :class => "button" %>
        <% end %>
      <% end %>
    </p>
  </div>
</fieldset>
