<%= image_tag 'credit_cards/credit_card.gif', :id => 'credit-card-image' %>
<% param_prefix = "payment_source[#{payment_method.id}]" %>

<div style="margin-top: 10px;" class="row-fluid field" data-hook="card_number">
 
 <span class="span4"> <%= label_tag "card_number", Spree.t(:card_number) %><span class="required">*</span></span>
  <% options_hash = Rails.env.production? ? {:autocomplete => 'off'} : {} %>
  <span class="span8"><%= text_field_tag "#{param_prefix}[number]", '', options_hash.merge(:id => 'card_number', :class => 'required', :size => 19, :maxlength => 19, :autocomplete => "off") %> </span>

  <span id="card_type" style="display:none;">
    ( <span id="looks_like" ><%= Spree.t(:card_type_is) %> <span id="type"></span></span>
      <span id="unrecognized"><%= Spree.t(:unrecognized_card_type) %></span>
    )
  </span>

</div>


<div class="row-fluid field" data-hook="card_expiration">
  <span class="span4"><%= label_tag "card_month", Spree.t(:expiration) %><span class="required">*</span></span>
  <span class="span8"><span class="span6"><%= select_month(Date.today, { :prefix => param_prefix, :field_name => 'month', :use_month_numbers => true }, :class => 'required', :id => "card_month") %></span>
  <span class="span6"><%= select_year(Date.today, { :prefix => param_prefix, :field_name => 'year', :start_year => Date.today.year, :end_year => Date.today.year + 15 }, :class => 'required', :id => "card_year") %></span></span>
</div>

<div class="row-fluid field" data-hook="card_code">
  <span class="span4"><%= label_tag "card_code", Spree.t(:card_code) %><span class="required">*</span></span>
  <span class="span8"><%= text_field_tag "#{param_prefix}[verification_value]", '', options_hash.merge(:id => 'card_code', :class => 'required', :size => 5) %></span>
  <span class="span3 offset9"><%= link_to "(#{Spree.t(:what_is_this)})", spree.content_path('cvv'), :target => '_blank', "data-hook" => "cvv_link", :id => "cvv_link" %></span>
</div>
<%= hidden_field param_prefix, 'first_name', :value => @order.billing_firstname %>
<%= hidden_field param_prefix, 'last_name', :value => @order.billing_lastname %>
