<%= form_for :order, :url => populate_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <% if @product.variants_and_option_values(current_currency).any? %>
      <div id="product-variants" class="columns five alpha">
        <div class="row-fluid">
          <h6 class="product-section-title"><%= Spree.t(:variants) %></h6>
          <%= select_tag "products[#{@product.id}]", 
            options_for_select(@product.variants_and_option_values(current_currency).collect {|x| 
              ["#{variant_options(x)} #{"-" + variant_price(x) if variant_price(x)}", x.id]
            }),
            class: :span12 %>
        </div>
      </div>
    <% end%>





    <% if @product.price_in(current_currency) and !@product.price.nil? %>
      <div data-hook="product_price" class="columns five <% if !@product.has_variants? %> alpha <% else %> omega <% end %>">
     
        
          
          <strong class="price selling" itemprop="price"><%= display_price(@product) %></strong>
  


            <dl class="dl-horizontal">
                <dt><label for="s1">QUANTITY:</label></dt>
                <dd> <span class="select-holder">
          <%= number_field_tag (@product.variants_and_option_values.any? ? :quantity : "variants[#{@product.master.id}]"),
            1, :class => 'title', :min => 1 %> </span>
                </dd>
              </dl>

        <div class="holder">


          <%= button_tag :class => 'btn', :id => 'add-to-cart-button', :type => :submit do %>
            <%= Spree.t(:add_to_cart) %>
          <% end %>
        </div>
      </div>
    <% else %>
        <div id="product-price">
          <br>
          <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
        </div>
    <% end %>    
  </div>
<% end %>
