<% content_for :sidebar do %>
<div data-hook="taxon_sidebar_navigation">
  <%= render 'spree/shared/reviews_sidebar' %>
</div>
<% end %>


<% if params[:keywords] %>

<div data-hook="search_results">
  <% if @products.empty? %>
  <h6 class="search-results-title"><%= Spree.t(:no_products_found) %></h6>
  <% else %>
  <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
  <% end %>
</div>

<% else %>

<div class="row-fluid sort-panel">
  <div class="span6">
    <%= render "spree/shared/sorter", sort: @sort %>  
  </div>
</div>

<div data-hook="homepage_products" class="row-fluid">
  <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
</div>
<% end %>
