
<div data-hook="product_show" itemscope itemtype="http://schema.org/Product">


  <% @body_id = 'product-details' %>

  <article class="block-product row-fluid">

    <div class="box-image span4" data-hook="product_left_part">

      <div data-hook="product_left_part_wrap">

        <div id="product-images" class+"image" data-hook="product_images">
          <div class="image" id="main-image " data-hook>
            <%= render :partial => 'image' %>
          </div>

          <div id="thumbnails" data-hook>
            <%= render :partial => 'thumbnails' %>
          </div>
        </div>

      </div>
      
      <ul style="display:none;">
        <li><a href="#">[+] View Larger</a></li>
        <li><a href="#">View Other Images</a></li>
      </ul>

    </div>


    <div class="span5">

      
      <div data-hook="product_taxons">
        <ul class="breadcrumb" data-hook>
          <% @product.taxons.each do |taxon| %>
          <li><%= link_to taxon.name, seo_url(taxon) %> <span> / </span><%= accurate_title %></li>
          <% end %>
        </ul>
      </div>


    
      <h1 class="product-title" itemprop="name"><%= accurate_title %>
      </h1>

      
      <% if @product.reviews.any? %>
        <%= render partial: 'spree/reviews/stars', locals: { stars: @product.stars } %> 
      <% else %>
        <p class="muted">This product has not yet been reviewed</p>
      <% end %>
      

      <ul class="links-list">
        <li><a href="#">Read Reviews</a></li>
        <li>     <%= link_to Spree.t('write_a_review'), new_product_review_path(@product), 
                :rel => "nofollow,noindex", :alt => 'Write a review' %></li>
      </ul>

      <div id="product-description" data-hook="product_description">

        <div itemprop="description" data-hook="description">
          <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
        </div>

      </div>

      <br/>

      <div data-hook="product_properties">
        <%= render :partial => 'properties' %>
      </div> 
    
    </div>


    <div class="span3" data-hook="product_right_part">
      <div class="box-price" data-hook="product_right_part_wrap">
          <div id="cart-form" data-hook="cart_form">
            <%= render :partial => 'cart_form' %>
          </div>
      </div>
    </div>
  </article>


<div class="row-fluid" data-hook="related_products">
  <%= render partial: 'related' %>
</div>

<div data-hook="promotions">
  <%= render :partial => 'promotions' %>
</div>




</div>
