
<% content_for :top_banner do %>
	<h2><%= @taxon.name %></h2>
	<%= render 'spree/taxons/info' %>
<% end %>

<% content_for :sidebar do %>
<div data-hook="taxon_sidebar_navigation">
	<%= render 'spree/shared/reviews_sidebar' %>
</div>
<% end %>

<div class="row-fluid sort-panel">
	<div class="span4">
		<%= render "spree/shared/sorter", sort: @sort %>	
	</div>
	<div class="span8">
		<ul class="product-category">
			<%= taxon_subnav @taxon %>
		</ul>
	</div>
</div>


<div data-hook="taxon_products">
	<%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
</div>

<% unless params[:keywords].present? %>
<div data-hook="taxon_children">
	<%= render :partial => 'taxon', :collection => @taxon.children %>
</div>

<% end %>