
<% content_for :top_banner do %>
	<%= render 'spree/taxons/info' %>
<% end %>

<% content_for :sidebar do %>
<div data-hook="taxon_sidebar_navigation">
	<%= render 'spree/shared/reviews_sidebar' %>
</div>
<% end %>

<div class="row-fluid sort-panel">
	<div class="span3">
		<%= render "spree/shared/sorter", sort: @sort %>	
	</div>
	<div class="span9">
		<ul class="product-category">
			<%= taxon_subnav(@taxon).html_safe %>
		</ul>
	</div>
</div>


<div data-hook="taxon_products">
	<%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
</div>
