<footer id="footer" data-hook>



	<div class="footer-holder">
				<div class="footer-frame">
					<div class="container-fluid">
						<div class="social-networks">
							<span>FOLLOW US ON</span>
							<ul>
								<li><%= social_network_link :facebook %></li>
								<li><%= social_network_link :instagram %></li>
								<li><%= social_network_link :twitter %></li>
								<li><%= social_network_link :pinterest %></li>
							</ul>
						</div>
					</div>
					<div class="footer-nav">
						<div class="container-fluid">
							<ul>
								<li><a href="#myModal" role="button" class="" data-toggle="modal">Quick Map +</a></li>
								<li><a target="_blank" href="http://www.lavazza.us/us/about-lavazza/ethics.html">TERMS &amp; CONDITIONS</a></li>
								<li><a href="#">CREDITS</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

     <%= render :partial => 'spree/shared/quick_map' %>

</div>

</footer>
