<%
paginated_products = @searcher.retrieve_products if params.key?(:keywords)
paginated_products ||= products
%>
<% if products.empty? %>
  <%= Spree.t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h6 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>

<% if products.any? %>
  <% products.each_slice(3) do |products_3| %>
  <div class="row-fluid" data-hook>
    <ul class="thumbnails products-list" data-hook>
      <% products_3.each do |product| %>

      <li id="product_<%= product.id %>" class="span4" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">

        <div class="thumbnail">
          <div class="area-image same-height-left" style="height: 249px;">

            <%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
            <div class="caption">
              <p>DYNAMIC CAPTIONS LATER</p>
            </div>

          </div>

          <h3 class="ellipsis product-title">
            <%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
          </h3>
          <div class="product-review-small">
            <% if product.reviews.any? %>
              <%= render partial: 'spree/reviews/stars', locals: { stars: product.stars } %> 
            <% end %>
          </div>

          <div class="area-cart">
            <span class="price" itemprop="price"><%= display_price(product) %></span>
            <%= render partial: "spree/products/add_to_cart_button", locals: { product: product } %>
          </div>
        </div>
        
        
      </li>
      <% end %>
      <% reset_cycle("classes") %>
    </ul>
  </div>
  <% end %>
<% end %>

<% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products %>
<% end %>
