<span class="row-fluid">
  <span class="span3"><%= f.label :email, Spree.t(:email) %></span>
  <span class="span9"><%= f.email_field :email, :class => 'span12 title' %></span>
</span>
<div id="password-credentials">
<span class="row-fluid">
   <span class="span3">  <%= f.label :password, Spree.t(:password) %></span>
   <span class="span9"> <%= f.password_field :password, :class => 'span12 title' %></span>
 </span>

 <span class="row-fluid">
     <span class="span3"><%= f.label :password_confirmation, Spree.t(:confirm_password) %></span>
   <span class="span9"> <%= f.password_field :password_confirmation, :class => 'span12 title' %></span>
</span>

<br/>
<br/>



  <span class="row-fluid">
<% if f.object.new_record? %>
  <%= f.check_box :subscribe_to_newsletter, :checked => true, class: "remMe" %>
<% else %>
  <%= f.check_box :subscribe_to_newsletter, class: "remMe" %>
<% end %>
    <%= f.label :subscribe_to_newsletter, Spree.t(:subscribe_to_newsletter), class: "remMe" %>
 </span>
</div>
<br/><br/>
<div data-hook="signup_below_password_fields"></div>
